.answer-editor-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.textarea-container {
    margin-bottom: 20px;
}

.answer-editor-form {
    margin-bottom: 200px;
}

.textarea-container textarea {
    border: 3px solid var(--gray);
    border-radius: 5px;
    resize: vertical;
    
    padding: 10px 5px;
    scrollbar-color: var(--primary-color) rgba(215, 215, 215, 0);
    min-height: 200px;
    margin-bottom: 20px;
    transition: outline 0.1s, outline-offset 0.1s;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.textarea-container textarea:focus {
    outline: 3px solid var(--primary-color);
    outline-offset: 2px;
}

.code-container code, .code-container pre {
    font-family: monospace;
}

.code-container pre {
    background-color: var(--gray);
    padding: 10px;
    border-radius: 5px;
}

.code-container code {
    background-color: var(--gray);
    padding: 5px;
    border-radius: 5px;
}


