/* !!Doesn't work without importing the base.css first!! */
/* User profile */
.answerForm {
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 20rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.answerForm div {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.answerForm textarea {
    background-color: black;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-width: 1px;
    font-weight: bold;
    color: var(--white);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.answerForm button {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    border-width: 2px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--background-color);
    cursor: pointer;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;
}

.answerForm button :hover {
    background-color: var(--secondary-color);
}
