.answer-container {
    background-color: #393e4c54;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
}

.answer-container > p, .answer-container > pre {
    grid-column: span 2;
}

.answer-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    bottom: -20px;
    left: 0;
    border-radius: 10px;
}

.answer-container #answer-code {
    background-color: #00000080;
    max-height: 500px;
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    font-family: monospace;
    font-size: 16px;
    scrollbar-color: var(--primary-color) black;
    position: relative;
}

.answer-container #answer-code code {
    white-space: pre;   
}


.answer-container [class*="JavaScript"]::before {
    content: "JavaScript";
}

.answer-container [class*="TypeScript"]::before {
    content: "TypeScript";
}

.answer-container [class*="Python"]::before {
    content: "Python";
}

.answer-container [class*="HTML"]::before {
    content: "HTML";
}

.answer-container [class*="CSS"]::before {
    content: "CSS";
}

.answer-container #answer-code code::before {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
    font-family: monospace;
    color: var(--primary-color);
} 

.answer-container .detailed-answer-info {
    display: flex;
    justify-content: end;
    gap: 20px;
}


.answer-container .detailed-answer-info #user-name {
    font-weight: bold;
    position: relative;
}

.answer-container .detailed-answer-info #user-name::before {
    content: "|";
    position: absolute;
    top: -1px;
    right: -14px;
}

.answer-container .answer-buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.answer-container .answer-buttons button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.answer-container .answer-buttons #edit-answer-button {
    background-color: var(--secondary-color);
}

.answer-container .answer-buttons #delete-answer-button {
    background-color: var(--primary-color);
}

.answer-container .answer-buttons #edit-answer-button:hover {
    background-color: #183499;
}

.answer-container .answer-buttons #delete-answer-button:hover {
    background-color: #932539;
}
