#amount-of-answers {
    margin-top: 10px;
}

.answer-container {
    display: grid;
    background-color: transparent;  
    grid-template-columns: 100px 1fr;
    align-items: center;
    border-radius: 10px;
    padding: 20px;  
    position: relative;
    gap: 20px;
    margin-bottom: 40px;
    overflow: visible;
}

.answer-container .answer-info {
    overflow: visible;
}

.answer-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
    bottom: -10px;
    left: 0;
    border-radius: 10px;
}

.answer-info .detailed-answer-info {
    display: flex;
    justify-content: end;
    gap: 20px;
    width: 50%;
    float: right;
}


.answer-info .detailed-answer-info .user-profile {
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.answer-info .detailed-answer-info #user-name {
    font-weight: bold;
}

.answer-info .detailed-answer-info #profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.answer-info .detailed-answer-info .user-profile::before {
    content: "|";
    position: absolute;
    right: -11px;
    top: 25%;
    font-size: 1.5rem;
    font-weight: lighter;
}

.answer-info .answer-buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.answer-info .answer-buttons button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.answer-info .answer-buttons #edit-answer-button {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    bottom: 0;
    position: absolute;
    margin-bottom: 32px;
}

.answer-info .answer-buttons #delete-answer-button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    bottom: 0;
    position: absolute;
    margin-bottom: 32px;
    margin-left: 120px;
}

.answer-info .answer-buttons #edit-answer-button:hover {
    background-color: #183499;
}

.answer-info .answer-buttons #delete-answer-button:hover {
    background-color: #932539;
}
