.answers-display-container {
}

.answer-container {
    background-color: #393e4c54;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
}

.answer-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    bottom: -20px;
    left: 0;
    border-radius: 10px;
}

.answer-container #answer-description {
    
}

.answer-container #code-syntax {

}

.answer-container .detailed-answer-info {
    display: flex;
    justify-content: end;
    gap: 20px;
}


.answer-container .detailed-answer-info #user-name {
    font-weight: bold;
    position: relative;
}

.answer-container .detailed-answer-info #user-name::before {
    content: "|";
    position: absolute;
    top: -1px;
    right: -14px;
}

.answer-container .detailed-answer-info #date {

}
