.answer-editor-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.answer-editor-container p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}

.textarea-container {
    margin-bottom: 20px;
}

.answer-editor-form {
    margin-bottom: 200px;
}

.textarea-container textarea {
    border: 3px solid var(--gray);
    border-radius: 5px;
    resize: vertical;
    white-space: nowrap;

    padding: 10px 5px;
    scrollbar-color: var(--primary-color) rgba(215, 215, 215, 0);
    min-height: 200px;
    max-height: 1000px;
    margin-bottom: 20px;
    transition: outline 0.1s, outline-offset 0.1s;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.textarea-container textarea:focus {
    outline: 3px solid var(--primary-color);
    outline-offset: 2px;
}

.tag-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 40px;
}

.tag-container input[type="radio"] {
    display: none;
}

.tag-container label {
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: normal;
    background-color: var(--secondary-color);
    border: 2px solid var(--white);
    border-radius: 15px;
    transition: background-color 0.2s;
}

.tag-container label:hover {
    background-color: #264bd3;
}

label:has(input[type="radio"]:checked) {
    background-color: var(--primary-color);
}

.code-container code {
    font-family: monospace;
}



