.answer-editor-container #description {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    resize: none;
    min-height: 50px;
    max-height: 300px;
    resize: none;
    overflow: hidden;
}
