/* !!Doesn't work without importing the base.css first!! */
/* Card Styling */
.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
    max-width: 40%;
    height: 20rem;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Card elements */
.card-header {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

.card-body {
    font-size: 1rem;
    color: var(--secondary-color);
}

.card-footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

.card-footer .btn {
    margin-left: 0.5rem;
}
