/* !!Doesn't work without importing the base.css first!! */
/* User profile */

.edit-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Horizontally centers the content */
    align-items: center;
}

.edit-profile-container button {
    margin-bottom: 50px;
    color: white;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    background-color: var(--background-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    margin-bottom: 20px;
}

.edit-profile-container button:hover {
    background-color: white;
    color: var(--background-color);
}

.edit-profile-container .profilePicture {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

.edit-profile-container input{
    position: relative;
    font-size: 0.9rem;
    margin: 0 0 20px 0;
    overflow: hidden;
    width: 350px;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 1.2;
}

.edit-profile-container .edit-expertise{
    margin-bottom: 100px;
}
