.footerbar {
    display: flex;
    align-items: center;
    background-color: var(--accent-color);
    width: 100%;
    height: 130px;
    margin-top: auto;
}

.footerbar p { 
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 1.2em;
    text-align: center;
    width: 100%;
}

.footerbar .footer-span {
    color: var(--primary-color);
    font-weight: bold;
}
