.home-intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.home-intro-container  h1 {
    font-size: 4.5rem;
    width: 800px;
    line-height: 70px;
}

.home-intro-container .intro-description {
    display: flex;
    height: 300px;
    text-align: center;    
}

.home-intro-container .intro-description p {
    font-weight: bold;
    font-size: 1.0rem;
    margin-bottom: 10px;
    width: 500px
}


.home-intro-container .intro-description .description-1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.home-intro-container .intro-description .description-2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.home-intro-container .intro-description hr {
    width: 90%;
    align-self: center;
    height: 1px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    margin: 0;
}

 /* Dropdown Button */
 .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 8px;
    min-width: 230px;
    max-width: 230px;
    font-weight: bold;

        transition:
        background-color 0.2s ease,
        color 0.2s ease;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover {
    background-color: white;
    color: black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    margin-top: 36px;
    margin-bottom: 36px;
    position: relative;
    display: inline-block;
  }

  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    min-width: 230px;
    z-index: 1;
    background-color: var(--accent-color);
    border: var(--border-color) 1px solid;
    border-radius: 10px;

    transform-origin: top;
    transform: scaleY(0);
    pointer-events: none;

    transition:
        transform 0.2s ease,
        opacity 0.1s ease;
}

  
  /* Links inside the dropdown */
  .dropdown-content button {
    width: 95%;
    border-width: 0;
    padding: 12px 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-top: 1px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--white);
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);

            transition:
        color 0.1s ease;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {color: grey;}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.dropdown-content.show {
    transform: scaleY(1);
    opacity: 1;
    pointer-events: auto;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

/* Example loading animation */
#loading {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }
  
  #loading.show {
    display: block; /* Show when triggered */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .spinner {
    border: 10px solid rgb(237, 87, 87);
    border-left-color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  #no-pages {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }

  #no-pages.show {
    display: block; /* Show when triggered */
  }
