#logout-container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    position: fixed;
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 2;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: hidden;
    z-index: 1;
}

.show-logout #logout-container {
    visibility: visible;
    opacity: 1;
}

.show-overlay #overlay {
    visibility: visible;
    opacity: 1;
}


.logout-container h2 {
    font-weight: normal;
    font-size: 1.2em;
    margin: 20px 10px;
}

#logout {
    background-color: rgb(192, 29, 17);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#logout:hover {
    background-color: rgba(196, 30, 18, 0.8);
}

#logout:active {
    background-color: rgb(170, 26, 16, 0.6);
}

.cancel-logout-button {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 1.5em;
    background: none;
    background-color: none;
    border: none;
    transition: 0.2s;
}

.cancel-logout-button:hover {
    color: rgb(198, 198, 198);
    background:rgba(0, 0, 0, 0.342);
    opacity: 0.8;
    border-radius: 20px;
}

