/* !!Doesn't work without importing the base.css first!! */

/* Navigation */
/* Navbar */
.navbar {
    background-color: #101728;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-family: "Source Sans 3", sans-serif;
    gap: 3rem;

    position: sticky;
    top: 0;
    z-index: 1000; /* ensures it stays above page content */
}

.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        var(--primary-color) 0%,
        var(--secondary-color) 100%
    );
}


/* Center-align the logo and nav-links */
.navbar .logo {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-weight: 900;
    width: 100%;
    font-size: 1rem;
    color: var(--white);
    cursor: pointer;
}

.logo h1 {
    font-size: 2.0rem;
    margin: 0;
    line-height: 1;
}

.logo img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.navbar .nav-links {
    width: 100%;
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.nav-links .page-link {
    display: flex;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.0rem;
    gap: 0.9rem;
    margin: 0 10px 0 10px;
    transition: all 0.3s ease;
}

/* Styling the navbar items as buttons */
.nav-links .normal-link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.0rem;
    font-weight: 700;
    padding: 0.5rem 20px;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0;
    border: 1px solid #932539;
    border-radius: 10px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.nav-links .normal-register-link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.0rem;
    font-weight: 700;
    padding: 0.5rem 20px;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0;
    background-color: var(--primary-color);
    border-radius: 10px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.nav-links .user-profile-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.9rem;
    gap: 0.9rem;
    margin: 0 10px 0 10px;
    transition: all 0.3s ease;
}

.user-profile-link p {
    margin: 0px;
    font-size: 1.2rem;
    font-weight: bold;
}

.user-profile-link img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 0px solid var(--border-color);
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-bottom: 0px;
    margin-top: 0px;
    transition: all 0.3s ease;
}

.nav-links .page-link:hover, .nav-links .user-profile-link:hover {
    color : var(--secondary-color);
}

/* Hover effect for navbar buttons */
.navbar .nav-links .normal-link:hover {
    background-color: var(--primary-color);
}

.nav-links .normal-register-link:hover {
    background-color: #932539;
}

/* Responsive navbar */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar .nav-links {
        flex-direction: row;
        width: 80%;
        margin-top: 1rem;
        flex-wrap: wrap;
    }
    .navbar .nav-links a {
        min-width: 100px;
        width: 45%;
        text-align: center;
        padding: 1rem 0;
    }
}
