/* !!Doesn't work without importing the base.css first!! */
/* User profile */
.user-profi {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.user-profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.user-profile .username {
    font-size: 1.2rem;
    color: var(--secondary-color);
}
