.questions-container {
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 200px;
}

.question-container {
    background-color: var(--gray);
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    height: 205px;
}

.question-container h2 {
    margin: 10px 0 15px 0;
    color: var(--primary-color);
    transition: color 0.2s ease;
}

.question-director:hover h2 {
    color: var(--hover-color);
}

.question-container .description {
    margin: 0 0 20px 0;
    color: var(--white);
    overflow: hidden;
    width: 500px;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 1.2;
}

.extra-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.question-director {
    cursor: pointer;
}

.question-director:hover .question-container {
    box-shadow: 0 0 10px rgba(31, 65, 187, 0.5);
    background-color: #484e5f;
}

#has-answer {
    font-weight: bold;
    color: var(--light-gray);
    font-size: 0.8em;
    margin: 0;
}

#no-answer {
    color: rgb(163, 163, 163);
    font-size: 0.8em;
    margin: 0;
}

