/* !!Doesn't work without importing the base.css first!! */
/* Question list */
.question-list {
    display: flex;
    flex-direction: column;
}

.question-item {
    background-color: var(--white);
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.question-item .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

.question-item .meta {
    font-size: 0.9rem;
    color: var(--gray);
    margin-bottom: 1rem;
}

.question-item .tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.tag {
    background-color: var(--accent-color);
    color: var(--white);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
}
