.questions-container {
    border-radius: 10px;
    padding: 10px 20px;
}

.question-container {
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease;
    height: 205px;
}

.question-container h2 {
    margin: 10px 0 15px 0;
    color: var(--link-color)
    
}

.question-director:hover h2 {
    color: var(--link-hover-color);
}

.question-container .description {
    margin: 0 0 20px 0;
    color: rgb(148, 148, 148);
    overflow: hidden;
    width: 500px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 1.2;
}

.extra-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.question-director {
    cursor: pointer;
}

.question-director:hover .question-container {
    box-shadow: 0 0 10px rgba(7, 66, 87, 0.5);
}

#has-answer {
    font-weight: bold;
    font-size: 0.8em;
}

#no-answer {
    color: rgb(148, 148, 148);
    font-size: 0.8em;
}
