.questions-container {
    border-radius: 10px;
    padding: 10px 20px;
}

.question-container {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.extra-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
