/* !!Doesn't work without importing the base.css first!! */
/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    background-color: var(--white);
}

/* Rounding the corners */
table tr:first-of-type th:first-of-type {
    border-top-left-radius: 0.5rem;
}

table tr:first-of-type th:last-of-type {
    border-top-right-radius: 0.5rem;
}

table tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 0.5rem;
}

table tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 0.5rem;
}

/* Table Header */
table th {
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
}

/* Table Data */
table th,
table td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid var(--border-color);
}

/* Table Rows */
table tr:hover {
    background-color: var(--hover-color);
    color: var(--white);
}

/* Table Icons */
table .icon {
    margin-right: 0.5rem;
    fill: var(--primary-color);
}

table .icon:hover {
    fill: var(--white);
}
